.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #03045E;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 3.5px 0 #FFF;
  font-size: 5.5rem;
  color: #00B4D8;
}

p {
  font-size: 3rem;
  color: #00B4D8;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  font-size: 2rem;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.copy {
  font-size: 1rem;
}

@media (max-width: 1028px) {
  body {
    text-align: center;
    position: relative;
  }
}
